*.vo
*.glob
*.o
*.s
*.parsed.c
*.light.c
*.compcert.c
*.compcert
_build
Makefile.local
Makefile.config
driver/Configuration.ml
extraction/*.ml
extraction/*.mli
extraction/STAMP
tools/ndfun
tools/ndfun.cmi
tools/ndfun.cmx
tools/ndfun.o
ia32/ConstpropOp.v
ia32/SelectOp.v
ccomp
ccomp.prof
ccomp.byte
cchecklink
cchecklink.byte
clightgen
clightgen.byte
doc/coq2html
doc/coq2html.cmi
doc/coq2html.cmx
doc/coq2html.ml
doc/coq2html.o
doc/html
test/compression/arcode
test/compression/lzss
test/compression/lzw
test/raytracer/render
test/spass/spass
test/STAMP
